.footer {
font-size: larger;
  padding: 30px 60px;
  background-color:#0d1011;
  color: white;
  font-family: 'Playfair Display', serif;
}

.footer-links {
  display: flex;
  gap: 50px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: larger;
  position: relative;
}
